In [1]:
import pandas as pd

In [10]:
df_movies = pd.read_csv("data/imdb_1000_clean.csv", index_col='Rank')

In [11]:
df_movies_one = df_movies.copy()

In [13]:
df_movies_one.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 11 columns):
title               1000 non-null object
genre               1000 non-null object
description         1000 non-null object
director            1000 non-null object
actors              1000 non-null object
year                1000 non-null int64
runtime_minutes     1000 non-null int64
rating              1000 non-null float64
votes               1000 non-null int64
revenue_millions    1000 non-null float64
metascore           1000 non-null float64
dtypes: float64(3), int64(3), object(5)
memory usage: 93.8+ KB

In [14]:
df_movies_one.describe()

,year,runtime_minutes,rating,votes,revenue_millions,metascore
count,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000
mean,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,3.205962,18.810908,0.945429,1.887626e+05,96.412043,16.634858
min,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,2010.000000,100.000000,6.200000,3.630900e+04,17.442500,47.750000
50%,2014.000000,111.000000,6.800000,1.107990e+05,60.375000,58.985043
75%,2016.000000,123.000000,7.400000,2.399098e+05,99.177500,71.000000
max,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### Mean, Median, Mode
### Standard Deviation and Variance
### Skewness
### What is normal distribution?
##### Kurtosis

## Different charts
* Line graph - Data collected over time, Time Series.Trnd of data.
* Pie chart - Categorical data e.g less than 10 categories.Display count/sum %.
* Bar graph - Many Categories/Time Series/....
* Scatter plot -  Distribution of data points / Trend.
* Boxplot - Outliers/max/min/... Distribution. Trend.

In [25]:
gn = df_movies_one['rating']

In [28]:
rtn = gn.value_counts()

In [29]:
type(rtn)

pandas.core.series.Series

In [24]:
df_movies.columns

Index(['title', 'genre', 'description', 'director', 'actors', 'year',
       'runtime_minutes', 'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')