In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
petrol_df = pd.read_csv('data/petrol_consumption.csv')

In [7]:
petrol_df.head(2)

,petrol_tax,average_income,paved_highways,population_driver_license,petrol_consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524

In [6]:
petrol_df.columns = ['petrol_tax','average_income', 'paved_highways', 
                     'population_driver_license', 'petrol_consumption']

In [8]:
petrol_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
petrol_tax                   48 non-null float64
average_income               48 non-null int64
paved_highways               48 non-null int64
population_driver_license    48 non-null float64
petrol_consumption           48 non-null int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [9]:
petrol_df.describe()

,petrol_tax,average_income,paved_highways,population_driver_license,petrol_consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [10]:
petrol_df.corr()

,petrol_tax,average_income,paved_highways,population_driver_license,petrol_consumption
petrol_tax,1.000000,0.012665,-0.522130,-0.288037,-0.451280
average_income,0.012665,1.000000,0.050163,0.157070,-0.244862
paved_highways,-0.522130,0.050163,1.000000,-0.064129,0.019042
population_driver_license,-0.288037,0.157070,-0.064129,1.000000,0.698965
petrol_consumption,-0.451280,-0.244862,0.019042,0.698965,1.000000

In [11]:
petrol_df.head(2)

,petrol_tax,average_income,paved_highways,population_driver_license,petrol_consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524

In [15]:
x = petrol_df.iloc[:,:-1]

In [18]:
y = petrol_df['petrol_consumption']

In [36]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.05, random_state=0)

In [37]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [38]:
coeff_df = pd.DataFrame(regressor.coef_, x.columns, columns=['Coefficient'])
coeff_df

                           Coefficient
petrol_tax                  -39.954562
average_income               -0.061776
paved_highways               -0.004322
population_driver_license  1305.315016

y(petrol_consumption) = 1341.86 x1(population_driver_license) - 40.01 x2(petrol_tax) - 0.065 x3(average_income) - 0.0047x4(paved_highways) + 425.599

In [40]:
y_pred = regressor.predict(x_test)

In [41]:
results_df = pd.DataFrame({'Actual' : y_test,'Predicted': y_pred})

In [42]:
results_df

    Actual   Predicted
29     534  467.740658
4      410  543.203132
26     577  585.702170

In [44]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 69.38821468730856
Mean Squared Error: 7403.034190682059
Root Mean Squared Error: 86.04088673812038

In [35]:
petrol_df.describe()

,petrol_tax,average_income,paved_highways,population_driver_license,petrol_consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [46]:
type(x_test)

pandas.core.frame.DataFrame

In [51]:
col = list(x_test.columns)

In [52]:
col

['petrol_tax', 'average_income', 'paved_highways', 'population_driver_license']